/* .a1
{
    width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100";
}
.a2
{
    width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100";
}
.a3
{
    width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100";
}
.a4
{
    width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100";
}
.a5
{
    width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100";
}
.a6
{
    width: 25rem;
}
.a7
{
    width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100";
}
.toggled {
    overflow: visible;
    width: 6.5rem!important;
}
.toggled1 {
    width: 0!important;
    overflow: hidden;
}
.textColor{
    color: black;
} */

/* .static-pos{
    height: 100%;
}


/* .blueBg{
  /* background-color: rgb(0, 7, 61); 
  background-color: #344955;
} */

/* nav a.active{
    color: black;
    padding: 2px;
    background-color: #cfe2ff;
} */

.hideFocus {
  outline: none;
  border: none;
}
.customEdit {
  color: #344955;
}
.custom-cursor-hand {
  cursor: pointer;
  cursor: hand;
}

.custom-margin {
  margin-top: 80px;
}
.custom-margin-side-bar {
  padding-top: 70px;
}

.work-space-container {
  height: 90vh;
  padding: 10px;
  overflow-y: auto;
  overflow-x: auto;
  margin-left: 250px;
  margin-top: 10vh;
}
.btn-div {
  text-align: center;
  padding: 5px;
}
/* .drop-down{
    box-sizing: border-box;
    padding: 2px;
    background-color: blue;
    z-index: 1;
} */

.form-control.custom-border {
  border-color: #949090; /* Change to your desired border color */
  font-size: 15px;
  font-weight: 500;
}

.date-picker-input {
  position: relative;
  cursor: pointer;
}

.calendar-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

th {
  white-space: nowrap;
}
